.container{
    max-width: 45em;
}
.blog_link{
    color: black;
}
nav{
    margin-bottom: 3em;
}
div{
    max-width: 45em;
}
#nav{
    height: 5em;
    color: black;
}
body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    border-width: 0.2em;
    border-color: dodgerblue;
}
#leftcol{
    width: 80%;
    padding-left: 5%;
}
#rightcol{
    width: 10%;
}
.row{
    padding-top: 5%;
}
.heading_link{
    color: rgb(105, 112, 119);
}
#home_link{
    font-size: 2em;
    color: rgb(93, 98, 102);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color: rgb(64, 64, 211);
}
.navbar-header{
    color: rgb(105, 112, 119);
}
code{
    color: rgba(0, 0, 0, 0.541);
}
img{
    max-width: 40em;
}
.contact-link{
    color: black;
}
pre{
    border-style: solid;
    border-width: 0.0001em;
    border-color: black;
    margin: 2em;
    max-width: 40em;
}
.highlight{
    font-size: 24em;
}
h1{
    margin-bottom: 1em;
}
h2{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
h3{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}